server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config
  security:
    user:
      name: config
      password: ${CONFIG_PASSWORD:config123}

eureka:
  client:
    service-url:
      defaultZone: http://eureka:eureka123@localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, refresh, busrefresh
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud: DEBUG

